include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include custom_lms *.css
recursive-include custom_lms *.csv
recursive-include custom_lms *.html
recursive-include custom_lms *.ico
recursive-include custom_lms *.js
recursive-include custom_lms *.json
recursive-include custom_lms *.md
recursive-include custom_lms *.png
recursive-include custom_lms *.py
recursive-include custom_lms *.svg
recursive-include custom_lms *.txt
recursive-exclude custom_lms *.pyc